  *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
/* mon header qui presente netflix */
.header-netflix{
   background-image: linear-gradient(to top,rgba(0,0,0,0.1)0,rgba(0,0,0,0)60%,
    rgba(0,0,0,0.1)100%),url("assets/back.jpg");
    width: 100vw;
    height: 100vh;
    color: #fff;
}
.header-netflix h2{
  font-size: 50px;
  text-align: center;
  font-family: Netflix sans, Helvetica,'Segoe UI', 'roboto', 'ubuntu', Verdana, sans-serif;
}
.header-netflix p{
  font-size: 25px;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
}
.logo-netflix{
  display: flex;
  justify-content: center;
}
.navbar-netflix{
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  margin-top:-25px;
}
.Netflix{
    font-size: 50px;
    color:#E50914;
    margin-top: 50px;
}
.btn{
  margin-top: 70px;
  padding: 5px;
  color: #fff;
  background-color: #E50914;
  font-size: 15px;
  border-radius: 5px solid;
  width: 100px;
  height: 35px;

}
.btn-email{
  display: flex;
  justify-content: center;
  gap: 10px;
}
input{
  width: 300px;
  border-radius: 5px solid #fff;
  padding: 1.5rem;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px; 
}
.b-rouge{
  width: 200px;
  font-size: 20px;
  background:#E50914;
  color: white;
  padding: 12px 24px;
  border-radius: 10px;
}

/* le main de ma page*/
main{
  background-color: black;
  color:#fff;
  width: 100wh;
}
/* debut de mon premier div*/

.tv{
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
}
.tv-tele{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}
.tv h2{
  font-size: 50px;
  text-align:left;
}
.tv p{
  font-size: 25px;
  margin-top: -30px;
}
hr{
  color: solide rgba(255,255,255,.5)
}

/* la deuxieme div: la section phone*/
.phone{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}
.block-phone{
     display: flex;
     justify-content: space-between;
     gap: 80px;
}
.phone h2{
  font-size: 50px;
}
.phone p{
  font-size: 30px;
}

/* ma trosieme div*/
.texte{
  margin-top: -42px;
  height: 50vh;
  width: 100vw;
}
.texte h2{
  font-size: 50px;
}
.texte p{
  font-size: 30px;
}
.kid{
  display: flex;
  justify-content: center;
}
.kids{
  height: 70vh;
  width: 100wh;
  display: flex;
  justify-content: space-between;
}
.kids h2{
  font-size: 50px;
}
.kids p{
  font-size: 30px;
}

/* mon footer*/
footer{
  background-color: black;
  color: #fff;
  height: 70vh;
  width: 100wh;
  font-family: sans-serif;
}
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-a{
  display: flex;
  gap: 150px;
  margin-top: 100px;
}
.lien{
  color: #fff;
}
.footer-a a{
  color:#fff;
  line-height: 2;
}
.langues{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
}
.footer-last{
  margin-top: 40px;
  margin-left: -700px;
}