  /* mon header qui presente netflix */
.header{
   background-image: linear-gradient(to top,rgba(0,0,0,0.8)0,rgba(0,0,0,0)60%, rgba(0,0,0,0.8)100%),url("assets/back.jpg");
    width: 100vw;
    height: 100vh;
    color: #fff;
}
.header h2{
  font-size: 50px;
  text-align: center;
  font-family: Netflix sans, Helvetica,'Segoe UI', 'roboto', 'ubuntu', Verdana, sans-serif;
}
.header p{
  font-size: 30px;
  line-height: 60px;
  text-align: center;
}
.container{
  display: flex;
  justify-content: center;
}
.navbar{
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
}
.Netflix{
    font-size: 50px;
    color:#E50914;
}
.btn{
  margin-top: 50px;
  padding: 5px;
  color: #fff;
  background-color: #E50914;
  font-size: 15px;
  border-radius: 5px;
  width: 100px;
  height: 35px;

}
.btn-email{
  display: flex;
  justify-content: center;
  gap: 10px;
}
input{
  width: 300px;
  border-radius: 5px solid #fff;
  padding: 1.5rem;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px; 
}
.b-rouge{
  width: 200px;
  font-size: 20px;
  background:#E50914;
  color: white;
  padding: 12px 24px;
  border-radius: 10px;
}
hr{
  background-color:hsla(218, 48%, 53%, 0.274);
  width: 100vw;
  height: 1vh;
  margin: 0px;
}
/* le main de ma page*/
main{
  background-color: black;
  color:#fff;

}
/* debut de mon premier div*/

.tv{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: black;
  color: #fff;
}
.tv-tele{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tv h2{
  font-size: 60px;
  text-align:left;
}
.tv p{
  font-size: 30px;
  margin-top: -30px;
}

/* la deuxieme div: la section phone*/
.phone{
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.block-phone{
     display: flex;
     justify-content: space-between;
}
.phone h2{
  font-size: 50px;
}
.phone p{
  font-size: 30px;
}

/* ma trasieme div*/
.texte{
  margin-top: -42px;
  background-color: black;
  color: #fff;
  height: 50vh;
  width: 100vw;
}
.texte h2{
  font-size: 50px;
}
.texte p{
  font-size: 30px;
}