    *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  h2 {
    font-weight: 700;
    font-size: 3rem;
  }
  p{
    font-weight: 400;
    font-size: 1.5em;
  }
/* mon header qui presente netflix */
.header-netflix{
  background-image: linear-gradient(to top,rgba(0,0,0,0.8) 0,rgba(0,0,0,0.0)60%,
    rgba(0,0,0,0.8) 100%),url("assets/netflix-back.jpg");
    width: 100vw;
    height: 100vh;
    color: #fff;
    background-size: cover;
    background-position: center;
 }

.header-netflix h2{
  margin-top: 250px;
  text-align: center;
  font-family: Netflix sans, Helvetica,'Segoe UI', 'roboto', 'ubuntu', Verdana, sans-serif;
}
.header-netflix p{
  line-height: 60px;
  text-align: center;
}
.logo-netflix{
  display: flex;
  justify-content: center;
  align-items:center;
}
.navbar-netflix{
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
}
.Netflix{
    font-size: 40px;
    color:#c11119;
    margin-top: 20px;
    transform: rotate(-30deg,20deg);
}
.btn-signIn{
  margin-top: 30px;
  padding: 3px;
  margin-right:1vw;
  color: #fff;
  background-color: #c11119;
  font-size: 1rem;
  border: 1px solid #c11119;
  border-radius: 5px;
  width: 15vh;
  height: 40px;
}
button{
  cursor: pointer;
}
.container-email-btn{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.email-label{
  position: relative;
}
.email-label input{
  width: 400px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 1.5rem 1rem 0.5rem;
  background-color: transparent;
  color: #fff;
  font-size: 1em ;
}
.email-label label{
  position: absolute;
  left: 30px;
  top: 35%;
  transform: translateY(-50%);
  font-size: 1em;
}
.email-label input:focus~label,
.email-label input:valid~label{
  top:15px;
  font-size: .8em;
  padding: 0 1px;
}
.btn-getStarted{
  width: 200px;
  font-size: 1.5rem;
  font-weight: 500; 
  
  background:#c11119;
  color: white;
  padding: 0.75rem 1.5rem;
  border: 1px solid #c11119;
  border-radius: 5px;
}

/*media queries */
@media screen and (max-width: 1100px){ 
  .btn-signIn{
    margin-right: 40px;
  }

}
/*
@media screen and (min-width: 600px)
.default-ltr-cache-12idgbt {
    max-width: calc(100% - 4rem);
}*/
/* le main de ma page*/
main{
  background-color: black;
  color:#fff;
  width: 100vw;
}
/* debut de mon premier div*/

.tv{
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tv-tele{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}
.tv h2{
  text-align:left;
  line-height: 70px;
}
.tv p{
  font-size: 25px;
  margin-top: 20px;
  line-height: -20px;
}
@media screen (max-width: 800px)
.tv-tele{
  display:block;
  width:100vh;
  
}
hr{
  border: 1px solide #232323;
  height: 0.2rem;
  bottom: -0.5rem;
}

/* la deuxieme div: la section phone*/
.phone{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.block-phone{
     display: flex;
     justify-content: space-between;
     gap: 80px;
}
.phone h2{
  font-size: 50px;
}
.phone p{
  font-size: 30px;
  margin-top: 20px;
}

/* ma trosieme div*/
.texte{
  margin-top: 100px;
  height: 50vh;
  width: 100vw;
  margin-left: 150px;
}
.texte h2{
  font-size: 50px;
  font-weight: bold;
}
.texte p{
  margin-top: 20px;
  font-size: 25px;
  line-height: -5px;
}

/* ma quatrieme  div*/
.kid{
  display: flex;
  justify-content: center;
  align-items: center;
}
.kids-container{
  height: 70vh;
  width: 100wh;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.kids-text{
  margin-top:40px;
}
.kids-container h2{
  font-size: 45px;
  margin-top: 50px;
  line-height: -20px;
}
.kids-container p{
  font-size: 25px;
  margin-top: 25px;
  line-height: -20px;
}
/*ma cinquième div*/
.frequently{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}
.frequently h2{
  text-align: center;
  font-size: 50px;
}

.btn-frequently{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.btn-frequently button{
  display: flex;
  justify-content: space-between;
  width: 1000px;
  background: #bdb8b82e;
  color: #fff;
  height: 80px;
  font-size: 1.5rem;
  padding: 20px 10px;
  margin: 5px; 
  border: 1px solid #bdb8b82e;
}
.frequently p{
  font-size: 20px;
  margin: 40px 0px 30px 0px;
}
.add-outline{
  font-size: 55px;
  margin-top: -10px;
}

/* mon footer*/
footer{
  background-color: black;
  color: #fff;
  height: 70vh;
  width: 100vw;
  font-family: sans-serif;
 }
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lien{
  margin: 70px 760px -90px 0px ;
  /*margin-right: 700px;*/
}
.footer-a{
  display: flex;
  gap: 150px;
  margin-top: 100px;
  margin-right: 220px;
}
.lien{
  color: #fff;
}
.footer-a a{
  color:#fff;
  line-height: 2;
}

.langues{
  fill: currentColor;
  width: 120px;
  height: 40px;
  font-style: 1rem;
  font-weight: 400;
  padding: 0;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  margin-bottom:30px;
}
.footer-last{
  margin-top: 30px;
  margin-left: -730px; 
}
.icons{
  height: 15px;
}